@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 20;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #e6f0ff;
    color: #003366;
    padding: 30px;
}

h1 {
    color: #004080;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px #99ccff;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #99ccff;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    background-color: #0066cc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d99;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}